* {
  margin: 0px;
  padding: 0px;
  
}
p {
  text-align: center;
  line-height: 200%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: xx-large;
  margin: 30px;
  text-align: center;
}

h2{
  font-size: x-large;
  margin: 30px;
  text-align: left;
}

h3{
  margin: 10px 0px 30px 0px;
  color: #fff;
  border-bottom: 3px solid #84DD63;
  width: 200px;
  line-height: 46px;
  text-align: center;
  
}

/* header */

nav 
{
    width: 100%;
    background-color: #545454;
    height: fit-content;
    display: flex;
    justify-content: center;
    z-index: 100;
}

nav > ul
{
    margin: 0px;
    padding: 0px;
}

nav li 
{
    list-style-type: none;
    padding-left: 0px;
}

nav > ul > li
{
    float: left;
    position: relative;
}

nav > ul::after
{
    content: "";
    display: table;
    clear: both;
}

nav input[type=checkbox]
{
    display: none;
}

nav label
{
    display: none;
}

nav a 
{
    display: inline-block;
    text-decoration: none;
}

nav > ul > li > a 
{
    padding: 0px 0px;
    color: #fff;
    margin: 20px 20px 20px 20px;
}
nav > ul > li > a:hover
{
    padding: 0px 0px;
    color: #84DD63;
    margin: 20px 20px 20px 20px;
}


nav input[type=checkbox]:checked ~ ul
{
    display: block;
}

@media screen and (max-width : 780px)
{
  .menu-mobile
  {
      display: block;
      color: #fff;
      text-align: center;
      padding: 12px;
  }
 
  nav {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  nav ul
  {
      display: none;
      text-align: center;
  }
  
  nav ul li, nav ul li a
  {
      width: 100%;
      text-align: center;
  }

  nav ul li, nav ul li:hover a
  {
      padding: 10px 0px;
      text-align: center;
  }

  
}
     

@media screen and (max-width: 800px) {
  .nav{
    display: flex;
    flex-direction: column;
  }
  .nav a,
  .nav input[type="text"],
  .nav input[type="text"] {
    border: 1px solid #ccc;
  }
}

@media screen and (max-width: 800px){
  #videoBG{
    max-width: auto;
    height: auto;
    z-index: -100;
  }

  #logo-oli_dev{
    display: none;
  }

  .containerB-2 {
    display: flex;
    flex-wrap: wrap;
  }

  .exp-pro { 
    margin: 40px;
  }
  
  .diplome { 
    margin: 40px;
  }
  
}

/* MAIN */




.containerA {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  z-index: 1;
  

}

.containerA-1{
  display: flex;
  justify-content: center;
}
#logo-oli_dev{
  height: 350px;
  width: 350px;
}

.containerA-2 {
  text-align: center;
  padding: 40px;
}

.container3 {
  background-color: royalblue;
  display: flex;
  justify-content: space-around;
  padding: 40px;
}
/* Img aperçu */
#cv {
  width: 60%;
  align-items: center;
}

#myImg {
  width: 200px;
  height: 150px;
  clip-path: ellipse(40% 50%);
  padding: 20px;
}
#body-presentation{
  background: linear-gradient(to bottom right, #84DD75, white, #545454);
}
.containerB-1{
  margin: 40px;
}

.containerB-2 {
  display: flex;
  justify-content: space-between;
  }
.exp-pro { 
  margin: 40px;
}
.diplome { 
  margin: 40px;
}

.bloc{
  height: 100vh;
  width: 100%;
  position: relative;
  
}
.bloc video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -100;
}

.txt-presentation{
  font-size: 20px;
  line-height: 250%;
  color: #fff;
}
.project1 {
  background-color: rgb(225, 65, 190);
  display: flex;
  justify-content: center;
}
.project2 {
  background-color: rgb(81, 65, 225);
  display: flex;
  justify-content: center;
}
.project3 {
  background-color: rgb(116, 225, 65);
  display: flex;
  justify-content: center;
}

/* FOOTER */

.footer {
  margin: auto;
  background-color: #545454;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.footer1{
  text-align: center;
  line-height: 200%;
}

.footer2{
  text-align: center;
  line-height: 200%;
}

.footer a {
  text-decoration: none;
  color: white;
}
#logo-github{
  position: relative;
  top: 0px;
  left: -44px;
  
}
#logo-linkedin{
  position: relative;
  top: -33px;
  left: 49px;
  
}


.footer a:hover
{
  color: #84DD63;
}

.footer1 .s-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer1 .s-links a:hover{
  color: #1c51d6;
  background-color: #84DD63;
}


/*FIN FOOTER*/