* {
  margin: 0px;
  padding: 0px;
}

main {
  background-image: url("../img/Illustration_sans_titre 5.png");
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
  z-index: -1;
}

p {
  font-size: smaller;
}

h1 {
  font-size: 50px;
  margin: 40px;
}
/* h2 {
  font-size: x-large;
  margin: 30px;
  text-align: left;
}

h3 {
  margin: 10px 0px 30px 0px;
  color: #fff;
  border-bottom: 3px solid #84dd63;
  width: 200px;
  line-height: 46px;
  text-align: center;
}

h4 {
  margin: 30px;
  text-align: center;
} */

/* --------- HEADER --------- */

header {
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  background-color: #fff;
  position: sticky;
}

nav {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  z-index: 100;
}

nav > ul {
  margin: 0px;
  padding: 0px;
}

nav li {
  list-style-type: none;
  padding-left: 0px;
}

nav > ul > li {
  float: left;
  position: relative;
}

nav > ul::after {
  content: "";
  display: table;
  clear: both;
}

nav input[type="checkbox"] {
  display: none;
}

nav label {
  display: none;
}

nav a {
  display: inline-block;
  text-decoration: none;
}

nav > ul > li > a {
  padding: 0px 0px;
  color: black;
  margin: 20px 20px 20px 20px;
}
nav > ul > li > a:hover {
  padding: 0px 0px;
  color: #84dd63;
  margin: 20px 20px 20px 20px;
}

nav input[type="checkbox"]:checked ~ ul {
  display: block;
}

@media screen and (max-width: 780px) {
  .menu-mobile {
    display: block;
    color: #fff;
    text-align: center;
    padding: 12px;
  }
  header {
    width: 100%;
  }
  nav {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  nav ul {
    display: none;
    text-align: center;
  }

  nav ul li,
  nav ul li a {
    width: 100%;
    text-align: center;
  }

  nav ul li,
  nav ul li:hover a {
    padding: 10px 0px;
    text-align: center;
  }
  header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .competence {
    display: flex;
    flex-direction: column;
  }
  .competence1 {
    display: flex;
    flex-direction: column;
  }
  .competence2 {
    display: flex;
    flex-direction: column;
  }
  .competence3 {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .nav {
    display: flex;
    flex-direction: column;
  }
  .nav a,
  .nav input[type="text"],
  .nav input[type="text"] {
    border: 1px solid #ccc;
  }
  header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .competence {
    display: flex;
    flex-direction: column;
  }
  .competence1 {
    display: flex;
    flex-direction: column;
  }
  .competence2 {
    display: flex;
    flex-direction: column;
  }
  .competence3 {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  #logo-oli_dev {
    display: none;
  }

  .containerB-2 {
    display: flex;
    flex-wrap: wrap;
  }

  .exp-pro {
    margin: 40px;
  }

  .diplome {
    margin: 40px;
  }
  header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .competence {
    display: flex;
    flex-direction: column;
  }
  .competence1 {
    display: flex;
    flex-direction: column;
  }
  .competence2 {
    display: flex;
    flex-direction: column;
  }
  .competence3 {
    display: flex;
    flex-direction: column;
  }
}

/* Img aperçu */
#cv {
  width: 60%;
  align-items: center;
}

#myImg {
  width: 200px;
  height: 150px;
  padding: 20px;
}

.exp-pro {
  margin: 40px;
}
.diplome {
  margin: 40px;
}

.bloc {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project1 {
  background-color: rgb(225, 65, 190);
  display: flex;
  justify-content: center;
}
.project2 {
  background-color: rgb(81, 65, 225);
  display: flex;
  justify-content: center;
}
.project3 {
  background-color: rgb(116, 225, 65);
  display: flex;
  justify-content: center;
}

.competence {
  display: flex;
  flex-direction: column;
}
.competence1 {
  display: flex;
  justify-content: space-evenly;
}
.competence2 {
  display: flex;
  justify-content: space-evenly;
}
.competence3 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

#logo-html-css {
  height: 100px;
  width: 180px;
}
#logo-github {
  height: 100px;
  width: 190px;
}
#logo-mysql {
  height: 140px;
  width: 150px;
}
#logo-php {
  height: 100px;
  width: 150px;
}
#logo-g-suite {
  height: 100px;
  width: 150px;
}
#logo-pack-office {
  height: 100px;
  width: 230px;
}

#logo-trello {
  height: 80px;
}

#logo-procreate {
  height: 100px;
}

#logo-figma {
  height: 100px;
}
#logo-wamp {
  height: 100px;
}
/* -------- SECTION 1 --------- */

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#titre-section1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 130px;
  margin: 40px;
  padding: 40px;
  text-align: center;
  margin-top: 70px;
  color: black;
  /* background-color: #ffffffb0; */
}

#titre-section1 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    
    width: 100%;
  }
}

#avatar {
  width: 150px;
}

.txt-presentation {
  font-size: 20px;
  line-height: 250%;
  padding: 50px;
  margin: 50px;
  text-align: center;
  background-color: #ffffffb0;
  width: 500px;
}

/* --------- FIN DE SECTION 1 --------- */

/* -------- SECTION 2 --------- */

.section2 {
  display: flex;
  flex-direction: column;
}

#introduction {
  line-height: 250%;
  padding: 50px;
  margin: 50px;
  text-align: center;
  background-color: #ffffffb0;
  width: 500px;
}

#intro-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logo-pdf {
  height: 150px;
  margin: 30px;
}

.pdf {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --------- FIN DE SECTION 2 --------- */

/* --------- SECTION 3 --------- */

.section3 {
  display: flex;
  flex-direction: column;
}

#title-project {
  text-align: center;
}
.container3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
/* --------- FIN DE SECTION 3 --------- */

/* --------- PAGE PRESENTATION --------- */
.main-presentation {
  background-image: url("../img/Illustration_sans_titre.png");
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* --------- FIN DE PAGE PRESENTATION --------- */

/* --------- FOOTER --------- */

footer {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}

footer > div {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

.titre-footer {
  margin: 20px 0 20px 0px;
}
/* -------- FIN DU FOOTER --------- */
