header, footer
{
    background-color: black;
    margin: 50px;
    color: white;
    justify-content: center;
    text-align:center;
    
}

nav ul
{
    display: flex;
    list-style-type: none;
    margin: 50px;
    padding: 2em;
}

nav ul li a 
{
    color: white;
    margin: 50px;

}

a
{
    text-decoration: none;
    color: blue;
}

main
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:center;
}


form
{
    width: 70%;
    text-align:center;
    padding: 16px;
}

legend
{
    font-size: 2em;
}

label
{
    font-size:1.1em;
    margin-bottom:0px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

/* Set a style for all buttons */
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
button:hover {
    opacity: 0.8;
  }  


input:invalid+span:after {
    position: absolute;
    content: '✖';
    padding-left: 5px;
}
  
input:valid+span:after {
    position: absolute;
    content: '✓';
    padding-left: 5px;
}
