/* FOOTER */
h1 {
  text-align: center;
  padding: 30px;
  font-weight: bold;
  font-size: 30px;
}

h2 {
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 25px;
}

h3{
  text-decoration: underline;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

p {
  text-align: left;
  margin: 10px;
}
.footer {
  display: flex;
  justify-content: space-around;
  background-color: #4589cf;
  padding: 20px;
}
.footer-1 {
  width: 300px;
}
.footer-2 {
  width: 300px;
}
.footer-3 {
  width: 300px;
}
.footer > .footer-1 > ul {
  list-style-type: none;
  text-align: center;
}

.footer > .footer-1 > ul > li > a {
  text-decoration: none;
  color: black;
}
.footer > .footer-1 > h3 {
  padding: 20px;
  text-align: center;
}

.footer > .footer-2 > ul {
  list-style-type: none;
  text-align: center;
}

.footer > .footer-2 > ul > li > a {
  text-decoration: none;
  color: black;
}

.footer > .footer-2 > h3 {
  padding: 20px;
  text-align: center;
}

.footer > .footer-3 > ul {
  list-style-type: none;
  text-align: center;
}
.footer > .footer-3 > ul > li > a {
  text-decoration: none;
  color: black;
}
.footer > .footer-3 > h3 {
  padding: 20px;
  text-align: center;
}

#logo-git {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 780px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
  }
}
/* FIN DU FOOTER */
