@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #131313;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  align-items: center;
  text-align: center;

}

/* Style Formulaire de connexion */
.formu{
  display: flex;
  justify-content: center;
}

#form-connexion {
  align-items: center;
  width: 70%;
  padding: 30px;
  margin: 100px;
  border: 2px solid #4fce99;
  box-shadow: 0 0 30px 0 #33bfaa8f, 1px 1px 20px 20px #33bfaa8f;
}

/* Style Formulaire Inscription */
#form-inscription {
  align-items: center;
  width: 70%;
  padding: 30px;
  margin: 100px;
  border: 2px solid #4fce99;
  box-shadow: 0 0 30px 0 #33bfaa8f, 1px 1px 20px 20px #33bfaa8f;
}

/* Style Formulaire Livre d'Or */
#form-guestbook {
  align-items: center;
  width: 70%;
  padding: 30px;
  margin: 100px;
  border: 2px solid #4fce99;
  box-shadow: 0 0 30px 0 #33bfaa8f, 1px 1px 20px 20px #33bfaa8f;
}
#alignement-com{
  display: flex;
  justify-content: center;
}

.commentaire {
  border: 2px solid #4fce99;
  width: 60%;
  box-shadow: 0 0 30px 0 #33bfaa8f, 1px 1px 20px 20px #33bfaa8f;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.screen_com {
  border: 2px solid #4fce99;
  height: fit-content;
  width: fit-content;
  margin: 20px;
}
.screen-com1{
  border: 2px solid #4fce99;
  padding: 20px;
}

.screen-com2{
  padding: 30px;
}
.formulaire{
  display: flex;
  justify-content: center;
}

.form-inscription{
  display: flex;
  justify-content: center;
}
/* Syle de tous les Formulaires */

input[type=text], input[type=password] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #4fce99;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #4fce99;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
}


input[type=submit]:hover {
    background-color: #4fce99;
    color: #4fce99;
    border: 1px solid #4fce99;
}

/* Style Footer*/
footer {
  background-color: #4fce99;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  min-height: 50px;
}
h1 {
  font-size:  60px;
  color: #4fce99;
  text-align: center;
  margin: 20px;
}

h2 {
  font-size: 30px;
  color: #4fce99;
  text-align: center;
}
.coontainer {
  z-index: +100;
}
.container1 {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

.left-container1 {
  display: flex;
  align-items: center;
}

.middle-container1 {
  margin-top: 50px;
  text-align: center;
}

.right-container1 {
  display: flex;
  align-items: center;
}

#img-avis1 {
  height: 270px;
  width: 250px;
  border-top-left-radius: 20%;
}

#img-avis2 {
  height: 270px;
  width: 250px;
  border-top-right-radius: 20%;
}
.img-1 {
 display: flex;
 justify-content: center;
 margin-top: 40px;
}

#design-mx4 {
  border-radius: 20% 20% 20% 20% ;
}
.container {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
  background: #131313;
  
}



commentaire-poste {
  display: flex;
  text-align: center;
}

/* Style NAV */

h1 a {
font-size: 80px;
color: #4fce99;
text-decoration: none;
text-transform: uppercase;
}

.popover {
 display: none;
 box-shadow: 0px 6px 8px rgba(19, 19, 19, 0.281);
}

.popover:target {
position: absolute;
right: 0;
top: 0;
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.popover .content {
display: flex;
align-items: center;
justify-content: center;
position: relative;
width: 0;
height: 0;
background-color: rgba(19, 19, 19, .9);

animation: 1s grow ease forwards;
text-align: center;
}

.nav_list  {
list-style-type: none;
}

.nav_list a {
text-decoration: none;
font-size: 60px;
color: #4fce99;
}

.nav_list_item {
height: 100%;
overflow: hidden;
}

.nav_list li {
padding: 15px 0;
text-transform: uppercase;
transform: translateY(200px);
opacity: 0;
animation: 2s slideUp ease forwards .1s;
position: relative;
}

.nav_list li::before {
content: '';
position: absolute;
height: 2px;
width: 0px;
left: 0;
bottom: 10px;
background: #BF2E97; 
transition: all .5s ease;
}

.nav_list li:hover:before {
    width: 100%;
}

.popover p {
padding: 50px;
opacity: 0;
animation: 1s fadeIn ease forwards 1s;
}

.popover .close::after {
right: 0;
top: 0;
width: 50px;
height: 50px;
position: absolute;
display: flex;
z-index: 1;
font-size: 30px;
align-items: center;
justify-content: center;
background-color: #BF2E97;
color: #fff;
content: "×";
cursor: pointer;
opacity: 0; 
animation: 1s fadeIn ease forwards .5s;
}




/* RESPONSIV */
@keyframes grow {
100% {
  height: 90%;
  width: 90%;
}
}

@keyframes fadeIn {
100% {
opacity: 1;
}
}

@keyframes slideUp {
100% {
  transform: translateY(0);
  opacity: 1;
}
}

/*Footer*/
footer {
  padding: 20PX;
  text-align: center;
  display: flex;
  justify-content: baseline;
  justify-content: space-evenly;
}  
  .footer1 .s-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: red;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  
  .footer1 .s-links a:hover{
    color: #131313;
    background-color: #ffffff;
  
  }
  .right-footer {
    align-items: baseline;
  }
  
  /*FIN FOOTER*/